openapi: 3.0.0
info:
  title: Astrology API
  version: '2.0'
  description: |-
    Prokerala.com is an astrology service provider with over 10 years of web presence. Our experienced team of astrologers and programmers have succeeded in creating an absolutely reliable astrology platform which is today trusted by millions of dedicated users including professional astrologers and ardent astrology enthusiasts.

    Prokerala Astrology API is in pursuance of our efforts to make astrology services and information accessable for everyone. Our simple API empowers you to get started with your own astrology services. You'll be up and running in a jiffy!

    ### Step 1. Create an App
    Before you can begin accessing the API, you must first register a new app. You can give the app any name of your choice.

    [Create Your App](/account/client/create)
    ### Step 2. Client ID and Secret
    After registering the app, you will receive a client ID and a client secret. The client ID is considered public information, whereas the client secret must be treated like a password, and must be kept confidential.

    If you are developing single page Javascript apps, or native apps (desktop or mobile), such applications are considered non confidential. You should not embed your credentials in such apps, as anyone can extract the credentials from the app and make requests on your behalf. Instead, you should create a web application that will call the API server with your credentials. Your non confidential app should call the web application, instead of calling the API server directly.
    ### Step 3. Access Tokens
    You will need to authenticate every API calls by passing a valid access token. The access token is generated by making a HTTP POST request, with the above created credentials, to the /token end point.

    ```
    POST /token HTTP/1.1
    Host: api.prokerala.com

    grant_type=client_credentials&client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>
    ```
    Use your `<CLIENT_ID>` and `<CLIENT_SECRET>` created in **Step 1** above. If the request is successful, the server will respond with an access_token that is valid for the next 1 hour. It is not necessary to generate a new access token for every API call. Instead, you should re-use the access token until it expires.

    Sample Response:
    ```
    {
        "access_token" : "ya29.1.AADtN_XK16As2ZHlScqOxGtntIlevNcasMSPwGiE3pe5ANZfrmJTcsI3ZtAjv4sDrPDRnQ",
        "token_type" : "Bearer",
        "expires_in" : 3600
    }
    ```
    ### Step 4. Making Authenticated API Calls
    Now that you have an access token, you can authenticate your API calls by passing the value of access_token in the Authorization header of your API requests.

    You can quickly make an API request using cURL as:
    ```
    curl -H "Authorization: Bearer <YOUR_ACCESS_TOKEN>" https://api.prokerala.com/v2/astrology/kundli?ayanamsa=1&coordinates=23.1765,75.7885&datetime=2022-03-17T10:50:40%2B00:00
    ```
    That's it! To make the above process easy, we have an [open source PHP SDK](https://github.com/prokerala/astrology-sdk). The source code of our [API demo](/demo) is also open source, and available on [GitHub](https://github.com/prokerala/astrology-api-demo).
    # Getting Started
    1. [How to get started?](/getting-started)
    2. [Sample API Client](/getting-started#sample-api-client)
    3. [Wordpress Plugin](/getting-started#wordpress-plugin)
    4. [OpenAPI & Postman](/getting-started#postman-openapi)
  contact:
    name: Ennexa Technologies Pvt. Ltd.
    email: info@ennexa.com
    url: 'https://api.prokerala.com/contact'
  termsOfService: 'https://api.prokerala.com/tos'
servers:
  - url: 'https://api.prokerala.com/v2'
paths:
  /astrology/kundli-matching:
    get:
      x-badges:
        - name: 'Credits: 50'
          color: '#2563eb'
      X-Api-Credits: 50
      description: '**Credits Required:** 50 for English, 100 for other languages - Get kundli matching or kundli milan or guna milan based on ashta kuta system, calculating compatibility out of 36 points.'
      summary: Kundli Matching
      operationId: get-kundli-matching
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KundliMatchingResponse'
              examples:
                example-1:
                  value:
                    status: ok
                    data:
                      girl_info:
                        koot:
                          varna: Brahmin
                          vasya: Jalachara
                          tara: Janma
                          yoni: Gau
                          graha_maitri: Jupiter
                          gana: Manushya
                          bhakoot: Meena
                          nadi: Madhya
                        nakshatra:
                          id: 25
                          name: Uttara Bhadrapada
                          lord:
                            id: 6
                            name: Saturn
                            vedic_name: Shani
                          pada: 3
                        rasi:
                          id: 11
                          name: Meena
                          lord:
                            id: 2
                            name: Mercury
                            vedic_name: Budha
                      boy_info:
                        koot:
                          varna: Brahmin
                          vasya: Jalachara
                          tara: Janma
                          yoni: Gau
                          graha_maitri: Jupiter
                          gana: Manushya
                          bhakoot: Meena
                          nadi: Madhya
                        nakshatra:
                          id: 25
                          name: Uttara Bhadrapada
                          lord:
                            id: 6
                            name: Saturn
                            vedic_name: Shani
                          pada: 3
                        rasi:
                          id: 11
                          name: Meena
                          lord:
                            id: 2
                            name: Mercury
                            vedic_name: Budha
                      message:
                        type: bad
                        description: Union is not recommended due to the presence of Nadi Maha Dosha.  Since Gun Milan Nadi Koot is given supreme priority during match making. The Boy and Girl are not affected by Mangal Dosha
                      guna_milan:
                        total_points: 28
                        maximum_points: 36
      parameters:
        - $ref: '#/components/parameters/ayanamsa'
        - $ref: '#/components/parameters/girl_coordinates'
        - $ref: '#/components/parameters/girl_dob'
        - $ref: '#/components/parameters/boy_coordinates'
        - $ref: '#/components/parameters/boy_dob'
        - $ref: '#/components/parameters/22_language'
      tags:
        - Marriage Matching
    parameters: []
  /astrology/kundli-matching/advanced:
    get:
      x-badges:
        - name: 'Credits: 200'
          color: '#2563eb'
      X-Api-Credits: 200
      summary: Detailed Kundli Matching
      tags:
        - Marriage Matching
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KundliMatchingAdvancedResponse'
              examples:
                example-1:
                  value:
                    status: ok
                    data:
                      girl_info:
                        koot:
                          varna: Brahmin
                          vasya: Jalachara
                          tara: Janma
                          yoni: Gau
                          graha_maitri: Jupiter
                          gana: Manushya
                          bhakoot: Meena
                          nadi: Madhya
                        nakshatra:
                          id: 25
                          name: Uttara Bhadrapada
                          lord:
                            id: 6
                            name: Saturn
                            vedic_name: Shani
                          pada: 3
                        rasi:
                          id: 11
                          name: Meena
                          lord:
                            id: 2
                            name: Mercury
                            vedic_name: Budha
                      boy_info:
                        koot:
                          varna: Brahmin
                          vasya: Jalachara
                          tara: Janma
                          yoni: Gau
                          graha_maitri: Jupiter
                          gana: Manushya
                          bhakoot: Meena
                          nadi: Madhya
                        nakshatra:
                          id: 25
                          name: Uttara Bhadrapada
                          lord:
                            id: 6
                            name: Saturn
                            vedic_name: Shani
                          pada: 3
                        rasi:
                          id: 11
                          name: Meena
                          lord:
                            id: 2
                            name: Mercury
                            vedic_name: Budha
                      message:
                        type: bad
                        description: Union is not recommended due to the presence of Nadi Maha Dosha.  Since Gun Milan Nadi Koot is given supreme priority during match making. The Boy and Girl are not affected by Mangal Dosha
                      guna_milan:
                        total_points: 28
                        maximum_points: 36
                        guna:
                          - id: 1
                            name: Varna
                            girl_koot: Brahmin
                            boy_koot: Brahmin
                            maximum_points: 1
                            obtained_points: 1
                            description: Varna represents the working attitude and capacity.  The  bridegroom's capacity needs to be higher than that of the bride for smooth running of the family. The boy and the girl both belong to Brahmin Varna. This type of combination is very much favorable for a union. For this couple Varna Koot is Good.
                          - id: 2
                            name: Vasya
                            girl_koot: Jalachara
                            boy_koot: Jalachara
                            maximum_points: 2
                            obtained_points: 2
                            description: Vasya was used to determine whether there will be a dedicated and compatible relationship between two people. The boy and the girl both belong to Jalachara Vasya. This is excellent match. For this couple Vasya Koot is Excellent.
                          - id: 3
                            name: Tara
                            girl_koot: Janma
                            boy_koot: Janma
                            maximum_points: 3
                            obtained_points: 3
                            description: Tara is used to calculate the health and well-being of the bride and groom after marriage. The boy and the girl both belong to same Tara Group. The boy's nakshatra Uttara Bhadrapada is 0 th position from girl's nakshatra Uttara Bhadrapada and this is Benefic. At the same time The girl's nakshatra Uttara Bhadrapada is  0 th position from boy's nakshatra Uttara Bhadrapada and this is Benefic This is so far the best compatible match. For this couple Tara Koot is Excellent.
                          - id: 4
                            name: Yoni
                            girl_koot: Gau
                            boy_koot: Gau
                            maximum_points: 4
                            obtained_points: 4
                            description: Yoni indicates the physical and sexual compatibility between a couple. The boy and the girl both belong to same Yoni Gau This is a warm and gratifying combination. For this couple Yoni Koot is Excellent.
                          - id: 5
                            name: Graha Maitri
                            girl_koot: Jupiter
                            boy_koot: Jupiter
                            maximum_points: 5
                            obtained_points: 5
                            description: Graha Maitri is used to examine the strength of the love between the couple. This is achieved by comparing the sign lords of the moon in the chart of the bride and groom. The boy and the girl both belong to same Rasi Lord Jupiter. The boy and the girl both comes under the same Rasi Meena. This is one of the best compatible match. For this couple Graha Maitri Koot is Excellent.
                          - id: 6
                            name: Gana
                            girl_koot: Manushya
                            boy_koot: Manushya
                            maximum_points: 6
                            obtained_points: 6
                            description: Gana is used to identify an individuals temperament. The boy and the girl both belong to same Gana Manushya. This is considered to be an excellent combination for gana match. For this couple Gana Koot is Excellent.
                          - id: 7
                            name: Bhakoot
                            girl_koot: Meena
                            boy_koot: Meena
                            maximum_points: 7
                            obtained_points: 7
                            description: 'Bhakoot or Rashikoot testing is used to verify the overall health, welfare and prosperity of a family after marriage. It is believed that Bhakoot Dosha can affect the intimacy between the couple and cause delays in pregnancy. Zodiac sign for of the boy and the girl is Meena. This is an excellent combination from the happiness and prosperity point of view. For this couple Bhakoot Koot is Excellent.'
                          - id: 8
                            name: Nadi
                            girl_koot: Madhya
                            boy_koot: Madhya
                            maximum_points: 8
                            obtained_points: 0
                            description: Nadi testing is to check the genetic compatibility of the bride and groom to ensure they are capable of producing healthy children. Nadi Koot is given supreme priority during match making. The boy and the girl both belong to same Nadi Madhya. This is inauspicious combination. For this couple Nadi Koot is not Good.
                      girl_mangal_dosha_details:
                        has_dosha: false
                        has_exception: false
                        dosha_type: null
                        description: The person is Not Manglik
                      boy_mangal_dosha_details:
                        has_dosha: false
                        has_exception: false
                        dosha_type: null
                        description: The person is Not Manglik
                      exceptions: []
      operationId: get-kundli-matching-advanced
      description: '**Credits Required:** 200 for English, 400 for other languages - Get detailed kundli matching'
      parameters:
        - $ref: '#/components/parameters/ayanamsa'
        - $ref: '#/components/parameters/girl_coordinates'
        - $ref: '#/components/parameters/girl_dob'
        - $ref: '#/components/parameters/boy_coordinates'
        - $ref: '#/components/parameters/boy_dob'
        - $ref: '#/components/parameters/22_language'
    parameters: []
  /astrology/panchang:
    get:
      x-badges:
        - name: 'Credits: 10'
          color: '#2563eb'
      X-Api-Credits: 10
      summary: Panchang
      tags:
        - Daily Panchang
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanchangResponse'
              examples:
                example-1:
                  value:
                    status: ok
                    data:
                      vaara: Tuesday
                      nakshatra:
                        - id: 25
                          name: Uttara Bhadrapada
                          lord:
                            id: 6
                            name: Saturn
                            vedic_name: Shani
                          start: '1970-11-09T18:59:58+05:30'
                          end: '1970-11-10T17:11:38+05:30'
                        - id: 26
                          name: Revati
                          lord:
                            id: 2
                            name: Mercury
                            vedic_name: Budha
                          start: '1970-11-10T17:11:39+05:30'
                          end: '1970-11-11T15:23:23+05:30'
                      tithi:
                        - id: 27
                          index: 0
                          name: Dwadashi
                          paksha: Shukla Paksha
                          start: '1970-11-09T22:30:04+05:30'
                          end: '1970-11-10T19:57:55+05:30'
                        - id: 28
                          index: 0
                          name: Trayodashi
                          paksha: Shukla Paksha
                          start: '1970-11-10T19:57:56+05:30'
                          end: '1970-11-11T17:26:44+05:30'
                      karana:
                        - index: 0
                          id: 0
                          name: Bava
                          start: '1970-11-09T22:30:04+05:30'
                          end: '1970-11-10T09:14:17+05:30'
                        - index: 0
                          id: 1
                          name: Balava
                          start: '1970-11-10T09:14:18+05:30'
                          end: '1970-11-10T19:57:55+05:30'
                        - index: 0
                          id: 2
                          name: Kaulava
                          start: '1970-11-10T19:57:56+05:30'
                          end: '1970-11-11T06:41:46+05:30'
                      yoga:
                        - id: 13
                          name: Harshana
                          start: '1970-11-09T13:52:21+05:30'
                          end: '1970-11-10T10:38:10+05:30'
                        - id: 14
                          name: Vajra
                          start: '1970-11-10T10:38:11+05:30'
                          end: '1970-11-11T07:22:26+05:30'
                      sunrise: '1970-11-10T06:14:07+05:30'
                      sunset: '1970-11-10T17:48:48+05:30'
                      moonrise: '1970-11-10T15:24:56+05:30'
                      moonset: '1970-11-11T04:01:16+05:30'
      operationId: get-panchang
      description: |
        **Credits Required:** 10 for English, 20 for other languages - Get daily panchang details
      parameters:
        - $ref: '#/components/parameters/ayanamsa'
        - $ref: '#/components/parameters/coordinates'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/22_language'
    parameters: []
  /astrology/panchang/advanced:
    get:
      x-badges:
        - name: 'Credits: 100'
          color: '#2563eb'
      X-Api-Credits: 100
      summary: Detailed Panchang
      tags:
        - Daily Panchang
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanchangAdvancedResponse'
              examples:
                example-1:
                  value:
                    status: ok
                    data:
                      vaara: Tuesday
                      nakshatra:
                        - id: 25
                          name: Uttara Bhadrapada
                          lord:
                            id: 6
                            name: Saturn
                            vedic_name: Shani
                          start: '1970-11-09T18:59:58+05:30'
                          end: '1970-11-10T17:11:38+05:30'
                        - id: 26
                          name: Revati
                          lord:
                            id: 2
                            name: Mercury
                            vedic_name: Budha
                          start: '1970-11-10T17:11:39+05:30'
                          end: '1970-11-11T15:23:23+05:30'
                      tithi:
                        - id: 27
                          index: 0
                          name: Dwadashi
                          paksha: Shukla Paksha
                          start: '1970-11-09T22:30:04+05:30'
                          end: '1970-11-10T19:57:55+05:30'
                        - id: 28
                          index: 0
                          name: Trayodashi
                          paksha: Shukla Paksha
                          start: '1970-11-10T19:57:56+05:30'
                          end: '1970-11-11T17:26:44+05:30'
                      karana:
                        - index: 0
                          id: 0
                          name: Bava
                          start: '1970-11-09T22:30:04+05:30'
                          end: '1970-11-10T09:14:17+05:30'
                        - index: 0
                          id: 1
                          name: Balava
                          start: '1970-11-10T09:14:18+05:30'
                          end: '1970-11-10T19:57:55+05:30'
                        - index: 0
                          id: 2
                          name: Kaulava
                          start: '1970-11-10T19:57:56+05:30'
                          end: '1970-11-11T06:41:46+05:30'
                      yoga:
                        - id: 13
                          name: Harshana
                          start: '1970-11-09T13:52:21+05:30'
                          end: '1970-11-10T10:38:10+05:30'
                        - id: 14
                          name: Vajra
                          start: '1970-11-10T10:38:11+05:30'
                          end: '1970-11-11T07:22:26+05:30'
                      sunrise: '1970-11-10T06:14:07+05:30'
                      sunset: '1970-11-10T17:48:48+05:30'
                      moonrise: '1970-11-10T15:24:56+05:30'
                      moonset: '1970-11-11T04:01:16+05:30'
                      auspicious_period:
                        - id: 1
                          name: Abhijit Muhurat
                          type: Auspicious
                          period:
                            - start: '1970-11-10T11:38:13+05:30'
                              end: '1970-11-10T12:24:31+05:30'
                        - id: 2
                          name: Amrit Kaal
                          type: Auspicious
                          period:
                            - start: '1970-11-10T12:43:58+05:30'
                              end: '1970-11-10T14:12:44+05:30'
                        - id: 3
                          name: Brahma Muhurat
                          type: Auspicious
                          period:
                            - start: '1970-11-10T04:37:48+05:30'
                              end: '1970-11-10T05:25:48+05:30'
                      inauspicious_period:
                        - id: 4
                          name: Rahu
                          type: Inauspicious
                          period:
                            - start: '1970-11-10T14:55:08+05:30'
                              end: '1970-11-10T16:21:58+05:30'
                        - id: 5
                          name: Yamaganda
                          type: Inauspicious
                          period:
                            - start: '1970-11-10T09:07:48+05:30'
                              end: '1970-11-10T10:34:38+05:30'
                        - id: 6
                          name: Gulika
                          type: Inauspicious
                          period:
                            - start: '1970-11-10T12:01:28+05:30'
                              end: '1970-11-10T13:28:18+05:30'
                        - id: 7
                          name: Dur Muhurat
                          type: Inauspicious
                          period:
                            - start: '1970-11-10T08:33:01+05:30'
                              end: '1970-11-10T09:19:19+05:30'
                            - start: '1970-11-10T22:47:00+05:30'
                              end: '1970-11-10T23:36:42+05:30'
                        - id: 8
                          name: Varjyam
                          type: Inauspicious
                          period:
                            - start: '1970-11-11T04:17:39+05:30'
                              end: '1970-11-11T05:46:39+05:30'
      operationId: get-panchang-advanced
      description: '**Credits Required:**  100 for English, 200 for other languages - Get detailed panchang'
      parameters:
        - $ref: '#/components/parameters/ayanamsa'
        - $ref: '#/components/parameters/coordinates'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/22_language'
    parameters: []
  /astrology/nakshatra-porutham:
    get:
      x-badges:
        - name: 'Credits: 50'
          color: '#2563eb'
      X-Api-Credits: 50
      summary: Nakshatra Porutham
      tags:
        - Marriage Matching
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NakshatraPoruthamResponse'
              examples:
                example-1:
                  value:
                    status: ok
                    data:
                      maximum_points: 10
                      obtained_points: 6
                      message:
                        type: null
                        description: Matching between boy and girl is 6/10
                      matches:
                        - id: 1
                          name: Dina Porutham
                          has_porutham: true
                        - id: 2
                          name: Gana Porutham
                          has_porutham: true
                        - id: 3
                          name: Mahendra Porutham
                          has_porutham: false
                        - id: 4
                          name: Stree Deergha Porutham
                          has_porutham: false
                        - id: 5
                          name: Yoni Porutham
                          has_porutham: false
                        - id: 6
                          name: Veda Porutham
                          has_porutham: true
                        - id: 7
                          name: Rajju Porutham
                          has_porutham: true
                        - id: 8
                          name: Rasi Porutham
                          has_porutham: false
                        - id: 9
                          name: Rasi Lord Porutham
                          has_porutham: true
                        - id: 10
                          name: Vashya Porutham
                          has_porutham: true
      operationId: get-nakshatra-porutham
      description: |-
        **Credits Required:** 50 

        |#|Nakshatra|
        |---|-------|
        |0|Ashwini|
        |1|Bharani|
        |2|Krithika|
        |3|Rohini|
        |4|Mrigashirsha|
        |5|Ardra|
        |6|Punarvasu|
        |7|Pushya|
        |8|Ashlesha|
        |9|Magha|
        |10|PurvaPhalguni|
        |11|UttaraPhalguni|
        |12|Hasta|
        |13|Chitra|
        |14|Swati|
        |15|Vishaka|
        |16|Anuradha|
        |17|Jyeshta|
        |18|Moola|
        |19|PurvaAshadha|
        |20|UttaraAshadha|
        |21|Shravana|
        |22|Dhanishta|
        |23|Shatabhisha|
        |24|PurvaBhadrapada|
        |25|UttaraBhadrapada|
        |26|Revati|

        Get Kerala style nakshatra and rasi porutham for marriage matching
      parameters:
        - $ref: '#/components/parameters/girl_nakshatra'
        - $ref: '#/components/parameters/girl_nakshatra_pada'
        - $ref: '#/components/parameters/boy_nakshatra'
        - $ref: '#/components/parameters/boy_nakshatra_pada'
        - $ref: '#/components/parameters/22_language'
    parameters: []
  /astrology/nakshatra-porutham/advanced:
    get:
      x-badges:
        - name: 'Credits: 150'
          color: '#2563eb'
      X-Api-Credits: 150
      summary: Detailed Nakshatra Porutham
      tags:
        - Marriage Matching
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NakshatraPoruthamAdvancedResponse'
              examples:
                example-1:
                  value:
                    status: ok
                    data:
                      maximum_points: 10
                      obtained_points: 6
                      message:
                        type: null
                        description: Matching between boy and girl is 6/10
                      matches:
                        - id: 1
                          name: Dina Porutham
                          has_porutham: true
                          porutham_status: Good
                          points: 1
                          description: Their match is deemed to be 'excellent' or 'Uthamam' since on counting from birth star of girl to boy – the result shows 8 and that is a positive sign.
                        - id: 2
                          name: Gana Porutham
                          has_porutham: true
                          porutham_status: Good
                          points: 1
                          description: The girl and boy stars come under the Deva Ganam. It clearly shows that they will be affectionate and good natured to each other and that is why match is 'Uthamam'.
                        - id: 3
                          name: Mahendra Porutham
                          has_porutham: false
                          porutham_status: Bad
                          points: 0
                          description: 'This relationship can be declared as an ''Athamam'' relationship as on counting the birth star of girl to boy, it can come to the number 8 - which shows that here both will find it difficult to enjoy a smooth relation.'
                        - id: 4
                          name: Stree Deergha Porutham
                          has_porutham: false
                          porutham_status: Bad
                          points: 0
                          description: 'This relationship can be declared as an ''Athamam'' relationship as on counting the birth star of girl to boy, it can come to the number 8- which shows that here both will find it difficult to enjoy a smooth relation.'
                        - id: 5
                          name: Yoni Porutham
                          has_porutham: false
                          porutham_status: Bad
                          points: 0
                          description: The gender of the girl’s Nakshatra is male and the gender of the boy’s Nakshatra is male. This makes this a Bad match (Athamam) .
                        - id: 6
                          name: Veda Porutham
                          has_porutham: true
                          porutham_status: Good
                          points: 1
                          description: 'For the couples where the birth stars do not have vedha, there is a satisfactory match in their birth stars.'
                        - id: 7
                          name: Rajju Porutham
                          has_porutham: true
                          porutham_status: Satisfactory
                          points: 1
                          description: 'When you look at this combination, the boy''s nakshatra and girl''s nakshatra belongs to Anthi Rajju, the match is said to be satisfactory, though not an excellent match.'
                        - id: 8
                          name: Rasi Porutham
                          has_porutham: false
                          porutham_status: Bad
                          points: 0
                          description: 'This match is not recommended and can be called as ''Athamam'' because on counting the rashis from the girl to the boy''s rashi – it can be calculated to 4, which shows an unhappy relationship.'
                        - id: 9
                          name: Rasi Lord Porutham
                          has_porutham: true
                          porutham_status: Good
                          points: 1
                          description: 'Since the ruling Lords of the girl and the boy are loving and united in thoughts and deeds, so this relationships is said to be ''Uthamam''.'
                        - id: 10
                          name: Vashya Porutham
                          has_porutham: true
                          porutham_status: Good
                          points: 1
                          description: 'In this situation, it looks like a perfect match or one that is Uthamam because the boy''s rasi can be a part of the girl''s vasya which means that the girl can influence the boy in life.'
      operationId: get-nakshatra-porutham-advanced
      description: '**Credits Required:** 150 - Get detailed nakshatra porutham'
      parameters:
        - $ref: '#/components/parameters/girl_nakshatra'
        - $ref: '#/components/parameters/girl_nakshatra_pada'
        - $ref: '#/components/parameters/boy_nakshatra'
        - $ref: '#/components/parameters/boy_nakshatra_pada'
        - $ref: '#/components/parameters/22_language'
    parameters: []
  /astrology/thirumana-porutham:
    get:
      x-badges:
        - name: 'Credits: 50'
          color: '#2563eb'
      X-Api-Credits: 50
      summary: Thirumana Porutham
      tags:
        - Marriage Matching
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThirumanaPoruthamResponse'
              examples:
                example-1:
                  value:
                    status: ok
                    data:
                      maximum_points: 12
                      obtained_points: 8
                      message:
                        type: null
                        description: Matching between boy and girl is 8/12
                      matches:
                        - id: 1
                          name: Dina Porutham
                          has_porutham: true
                        - id: 2
                          name: Gana Porutham
                          has_porutham: true
                        - id: 3
                          name: Mahendra Porutham
                          has_porutham: false
                        - id: 4
                          name: Stree Deergha Porutham
                          has_porutham: false
                        - id: 5
                          name: Yoni Porutham
                          has_porutham: true
                        - id: 6
                          name: Veda Porutham
                          has_porutham: true
                        - id: 7
                          name: Rajju Porutham
                          has_porutham: true
                        - id: 8
                          name: Rasi Porutham
                          has_porutham: false
                        - id: 9
                          name: Rasi Lord Porutham
                          has_porutham: true
                        - id: 10
                          name: Vashya Porutham
                          has_porutham: true
                        - id: 11
                          name: Nadi Porutham
                          has_porutham: false
                        - id: 12
                          name: Varna Porutham
                          has_porutham: true
      operationId: get-thirumana-porutham
      description: '**Credits Required:** 50 - Get tamil nadu style nakshatra and rasi porutham for marriage matching'
      parameters:
        - $ref: '#/components/parameters/girl_nakshatra'
        - $ref: '#/components/parameters/girl_nakshatra_pada'
        - $ref: '#/components/parameters/boy_nakshatra'
        - $ref: '#/components/parameters/boy_nakshatra_pada'
        - $ref: '#/components/parameters/22_language'
    parameters: []
  /astrology/thirumana-porutham/advanced:
    get:
      x-badges:
        - name: 'Credits: 150'
          color: '#2563eb'
      X-Api-Credits: 150
      summary: Detailed Thirumana Porutham
      tags:
        - Marriage Matching
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThirumanaPoruthamAdvancedResponse'
              examples:
                example-1:
                  value:
                    status: ok
                    data:
                      maximum_points: 12
                      obtained_points: 8
                      message:
                        type: null
                        description: Matching between boy and girl is 8/12
                      matches:
                        - id: 1
                          name: Dina Porutham
                          has_porutham: true
                          porutham_status: null
                          points: 1
                          description: Their match is deemed to be 'excellent' or 'Uthamam' since on counting from birth star of girl to boy – the result shows 8 and that is a positive sign.
                        - id: 2
                          name: Gana Porutham
                          has_porutham: true
                          porutham_status: null
                          points: 1
                          description: The girl and boy stars come under the Deva Ganam. It clearly shows that they will be affectionate and good natured to each other and that is why match is 'Uthamam'.
                        - id: 3
                          name: Mahendra Porutham
                          has_porutham: false
                          porutham_status: null
                          points: 0
                          description: 'This relationship can be declared as an ''Athamam'' relationship as on counting the birth star of girl to boy, it can come to the number 8 - which shows that here both will find it difficult to enjoy a smooth relation.'
                        - id: 4
                          name: Stree Deergha Porutham
                          has_porutham: false
                          porutham_status: null
                          points: 0
                          description: 'This relationship can be declared as an ''Athamam'' relationship as on counting the birth star of girl to boy, it can come to the number 8- which shows that here both will find it difficult to enjoy a smooth relation.'
                        - id: 5
                          name: Yoni Porutham
                          has_porutham: true
                          porutham_status: null
                          points: 1
                          description: 'The animal in the matching horoscopes are not enemies, So the match is recommended.'
                        - id: 6
                          name: Veda Porutham
                          has_porutham: true
                          porutham_status: null
                          points: 1
                          description: 'For the couples where the birth stars do not have vedha, there is a satisfactory match in their birth stars.'
                        - id: 7
                          name: Rajju Porutham
                          has_porutham: true
                          porutham_status: null
                          points: 1
                          description: 'As per the stars, both belong to different Rajju, and therefore this can be selected as a perfect match.'
                        - id: 8
                          name: Rasi Porutham
                          has_porutham: false
                          porutham_status: null
                          points: 0
                          description: 'This match is not recommended and can be called as ''Athamam'' because on counting the stars from the girl to the boy''s rasi – it can be calculated to 4, which shows an unhappy relationship.'
                        - id: 9
                          name: Rasi Lord Porutham
                          has_porutham: true
                          porutham_status: null
                          points: 1
                          description: 'Since the ruling Lords of the girl and the boy are loving and united in thoughts and deeds, so this relationships is said to be ''Uthamam''.'
                        - id: 10
                          name: Vashya Porutham
                          has_porutham: true
                          porutham_status: null
                          points: 1
                          description: 'This match looks like an average relationship or in other words- it is a Madhyamam relationship, as the boy''s rasi can be a part of the girl''s vasya which means that the girl can influence the boy in life.'
                        - id: 11
                          name: Nadi Porutham
                          has_porutham: false
                          porutham_status: null
                          points: 0
                          description: 'In this relationship, if the boy and the girl are part of the Samana Nadi, then it is not considered an optimal match.'
                        - id: 12
                          name: Varna Porutham
                          has_porutham: true
                          porutham_status: null
                          points: 1
                          description: 'The boy’s varna is higher than that of the girl, so this match is deemed to be a good one.'
      operationId: get-thirumana-porutham-advanced
      description: '**Credits Required:** 150 - Get detailed thirumana porutham details'
      parameters:
        - $ref: '#/components/parameters/girl_nakshatra'
        - $ref: '#/components/parameters/girl_nakshatra_pada'
        - $ref: '#/components/parameters/boy_nakshatra'
        - $ref: '#/components/parameters/boy_nakshatra_pada'
        - $ref: '#/components/parameters/22_language'
    parameters: []
  /astrology/inauspicious-period:
    get:
      x-badges:
        - name: 'Credits: 50'
          color: '#2563eb'
      X-Api-Credits: 50
      summary: Inauspicious Period
      tags:
        - Daily Panchang
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InauspiciousPeriodResponse'
              examples:
                example-1:
                  value:
                    status: ok
                    data:
                      muhurat:
                        - id: 4
                          name: Rahu
                          type: Inauspicious
                          period:
                            - start: '1970-11-10T09:25:08+00:00'
                              end: '1970-11-10T10:51:58+00:00'
                        - id: 5
                          name: Yamaganda
                          type: Inauspicious
                          period:
                            - start: '1970-11-10T03:37:48+00:00'
                              end: '1970-11-10T05:04:38+00:00'
                        - id: 6
                          name: Gulika
                          type: Inauspicious
                          period:
                            - start: '1970-11-10T06:31:28+00:00'
                              end: '1970-11-10T07:58:18+00:00'
                        - id: 7
                          name: Dur Muhurat
                          type: Inauspicious
                          period:
                            - start: '1970-11-10T03:03:01+00:00'
                              end: '1970-11-10T03:49:19+00:00'
                            - start: '1970-11-10T17:17:00+00:00'
                              end: '1970-11-10T18:06:42+00:00'
                        - id: 8
                          name: Varjyam
                          type: Inauspicious
                          period:
                            - start: '1970-11-10T22:47:39+00:00'
                              end: '1970-11-10T13:10:39+00:00'
      operationId: get-inauspicious-period
      description: '**Credits Required:** 50 for English, 100 for other languages - Get inauspicious timings like Rahu Kaal, Yamaganda Kaal, Gulika Kaal, Dur Muhurat and Varjyam'
      parameters:
        - $ref: '#/components/parameters/ayanamsa'
        - $ref: '#/components/parameters/coordinates'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/22_language'
    parameters: []
  /astrology/auspicious-period:
    get:
      x-badges:
        - name: 'Credits: 50'
          color: '#2563eb'
      X-Api-Credits: 50
      summary: Auspicious Period
      tags:
        - Daily Panchang
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuspiciousPeriodResponse'
              examples:
                example-1:
                  value:
                    status: ok
                    data:
                      muhurat:
                        - id: 1
                          name: Abhijit Muhurat
                          type: Auspicious
                          period:
                            - start: '1970-11-10T06:08:13+00:00'
                              end: '1970-11-10T06:54:31+00:00'
                        - id: 2
                          name: Amrit Kaal
                          type: Auspicious
                          period:
                            - start: '1970-11-10T06:29:58+00:00'
                              end: '1970-11-10T07:58:44+00:00'
                        - id: 3
                          name: Brahma Muhurat
                          type: Auspicious
                          period:
                            - start: '1970-11-09T23:07:48+00:00'
                              end: '1970-11-09T23:55:48+00:00'
      operationId: get-auspicious-period
      parameters:
        - $ref: '#/components/parameters/ayanamsa'
        - $ref: '#/components/parameters/coordinates'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/22_language'
      description: '**Credits Required:** 50 for English, 100 for other languages - Get auspicious timings like Abhijit Muhurat, Amrit Kaal and Brahma Muhurat'
    parameters: []
  /astrology/choghadiya:
    get:
      x-badges:
        - name: 'Credits: 50'
          color: '#2563eb'
      X-Api-Credits: 50
      summary: Choghadiya
      tags:
        - Daily Panchang
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChoghadiyaResponse'
              examples:
                example-1:
                  value:
                    status: ok
                    data:
                      muhurat:
                        - id: 6
                          name: Rog
                          type: Inauspicious
                          vela: null
                          is_day: true
                          start: '1970-11-10T06:14:07+05:30'
                          end: '1970-11-10T07:40:57+05:30'
                        - id: 0
                          name: Udveg
                          type: Inauspicious
                          vela: Vaar Vela
                          is_day: true
                          start: '1970-11-10T07:40:57+05:30'
                          end: '1970-11-10T09:07:47+05:30'
                        - id: 1
                          name: Char
                          type: Good
                          vela: null
                          is_day: true
                          start: '1970-11-10T09:07:47+05:30'
                          end: '1970-11-10T10:34:37+05:30'
                        - id: 2
                          name: Labh
                          type: Most Auspicious
                          vela: null
                          is_day: true
                          start: '1970-11-10T10:34:37+05:30'
                          end: '1970-11-10T12:01:27+05:30'
                        - id: 3
                          name: Amrut
                          type: Most Auspicious
                          vela: null
                          is_day: true
                          start: '1970-11-10T12:01:27+05:30'
                          end: '1970-11-10T13:28:17+05:30'
                        - id: 4
                          name: Kaal
                          type: Inauspicious
                          vela: Kaal Vela
                          is_day: true
                          start: '1970-11-10T13:28:17+05:30'
                          end: '1970-11-10T14:55:07+05:30'
                        - id: 5
                          name: Shubh
                          type: Most Auspicious
                          vela: null
                          is_day: true
                          start: '1970-11-10T14:55:07+05:30'
                          end: '1970-11-10T16:21:57+05:30'
                        - id: 6
                          name: Rog
                          type: Inauspicious
                          vela: null
                          is_day: true
                          start: '1970-11-10T16:21:57+05:30'
                          end: '1970-11-10T17:48:47+05:30'
                        - id: 4
                          name: Kaal
                          type: Inauspicious
                          vela: null
                          is_day: false
                          start: '1970-11-10T17:48:48+05:30'
                          end: '1970-11-10T19:22:00+05:30'
                        - id: 5
                          name: Labh
                          type: Inauspicious
                          vela: Kaal Ratri
                          is_day: false
                          start: '1970-11-10T19:22:00+05:30'
                          end: '1970-11-10T20:55:12+05:30'
                        - id: 6
                          name: Udveg
                          type: Inauspicious
                          vela: null
                          is_day: false
                          start: '1970-11-10T20:55:12+05:30'
                          end: '1970-11-10T22:28:24+05:30'
                        - id: 0
                          name: Shubh
                          type: Most Auspicious
                          vela: null
                          is_day: false
                          start: '1970-11-10T22:28:24+05:30'
                          end: '1970-11-11T00:01:36+05:30'
                        - id: 1
                          name: Amrut
                          type: Most Auspicious
                          vela: null
                          is_day: false
                          start: '1970-11-11T00:01:36+05:30'
                          end: '1970-11-11T01:34:48+05:30'
                        - id: 2
                          name: Char
                          type: Good
                          vela: null
                          is_day: false
                          start: '1970-11-11T01:34:48+05:30'
                          end: '1970-11-11T03:08:00+05:30'
                        - id: 3
                          name: Rog
                          type: Inauspicious
                          vela: null
                          is_day: false
                          start: '1970-11-11T03:08:00+05:30'
                          end: '1970-11-11T04:41:12+05:30'
                        - id: 4
                          name: Kaal
                          type: Inauspicious
                          vela: null
                          is_day: false
                          start: '1970-11-11T04:41:12+05:30'
                          end: '1970-11-11T06:14:24+05:30'
      operationId: get-choghadiya
      parameters:
        - $ref: '#/components/parameters/ayanamsa'
        - $ref: '#/components/parameters/coordinates'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/22_language'
      description: '**Credits Required:** 50 for English, 100 for other languages - Get daily choghadiya timings'
    parameters: []
  /astrology/birth-details:
    get:
      x-badges:
        - name: 'Credits: 50'
          color: '#2563eb'
      X-Api-Credits: 50
      summary: Birth Details
      tags:
        - Horoscope
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BirthDetailsResponse'
              examples:
                example-1:
                  value:
                    status: ok
                    data:
                      nakshatra:
                        id: 25
                        name: Uttara Bhadrapada
                        lord:
                          id: 6
                          name: Saturn
                          vedic_name: Shani
                        pada: 3
                      chandra_rasi:
                        id: 11
                        name: Meena
                        lord:
                          id: 2
                          name: Mercury
                          vedic_name: Budha
                      soorya_rasi:
                        id: 6
                        name: Tula
                        lord:
                          id: 3
                          name: Venus
                          vedic_name: Shukra
                      zodiac:
                        id: 7
                        name: Scorpio
                      additional_info:
                        deity: Ahir Budhnyana/Abhibadhnu
                        ganam: Manushya
                        symbol: Twins (Two back legs of a bed)
                        animal_sign: Cow
                        nadi: Pitta
                        color: Purple
                        best_direction: North
                        syllables: 'Du, Tha, Jha, Da'
                        birth_stone: Blue Sapphire
                        gender: female
                        planet: Sani
                        enemy_yoni: Tiger
      operationId: get-birth-details
      description: |-
        **Credits Required:** 50 for English, 100 for other languages - Get nakshatra and birth details

        To know more about nakshatra and corresponding name of nakshatras in Malayalam, Tamil, Telugu and Hindi along with their meanings. [Click Here To Read](https://www.prokerala.com/astrology/nakshatra/)
      parameters:
        - $ref: '#/components/parameters/ayanamsa'
        - $ref: '#/components/parameters/coordinates'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/22_language'
    parameters: []
  /astrology/kaal-sarp-dosha:
    get:
      x-badges:
        - name: 'Credits: 30'
          color: '#2563eb'
      X-Api-Credits: 30
      summary: Kaal Sarp Dosha
      tags:
        - Horoscope
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KaalSarpDoshaResponse'
              examples:
                example-1:
                  value:
                    status: ok
                    data:
                      type: Anant
                      dosha_type: Kaal Sarpa
                      has_dosha: true
                      description: 'You have Kalsarpa Yog because all the planets are between Ketu and Rahu. Since Rahu and Ketu is in 1st and 7th, the type of Kalsarpa yog is Anant.'
      operationId: get-kaal-sarp-dosha
      description: '**Credits Required:** 30 for English, 60 for other languages - Check if a person has kaal sarp dosha.'
      parameters:
        - $ref: '#/components/parameters/ayanamsa'
        - $ref: '#/components/parameters/coordinates'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/22_language'
    parameters: []
  /astrology/mangal-dosha:
    get:
      x-badges:
        - name: 'Credits: 30'
          color: '#2563eb'
      X-Api-Credits: 30
      summary: Mangal Dosha
      tags:
        - Horoscope
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MangalDoshaResponse'
              examples:
                example-1:
                  value:
                    status: ok
                    data:
                      has_dosha: true
                      description: 'The person is Manglik. Mars is positioned in the 2nd house, it is mild Manglik Dosha'
      operationId: get-mangal-dosha
      description: '**Credits Required:** 30 for English, 60 for other languages - Check a persons kundli has mangal dosha.'
      parameters:
        - $ref: '#/components/parameters/ayanamsa'
        - $ref: '#/components/parameters/coordinates'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/22_language'
    parameters: []
  /astrology/mangal-dosha/advanced:
    get:
      x-badges:
        - name: 'Credits: 100'
          color: '#2563eb'
      X-Api-Credits: 100
      summary: Detailed Mangal Dosha
      tags:
        - Horoscope
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MangalDoshaAdvancedResponse'
              examples:
                example-1:
                  value:
                    status: ok
                    data:
                      has_dosha: true
                      description: 'The person is Manglik. Mars is positioned in the 2nd house, it is mild Manglik Dosha'
                      has_exception: true
                      type: Mild
                      exceptions:
                        - Mars is said to have a maturity age of 28. The malefic effects of Mars reduce after the age of 28.
                        - 'If a Manglik is born on a Tuesday, the negative effect of Manglik Dosha gets cancelled.'
                      remedies:
                        - It is considered that if a manglik person marries to another manglik person then the manglik dosha gets cancelled and has no effect.
                        - Worship Lord Hanuman by reciting Hanuman Chalisa daily & visit the temple of Lord Hanuman on Tuesdays.
                        - 'The ill effects of Manglik Dosha can be cancelled by performing a "Kumbh Vivah" in which the manglik marries a banana tree, a peepal tree, or a statue of God Vishnu before the actual wedding.'
                        - 'The ill effects of Manglik Dosha can be reduced with the application of Special Pooja, Mantras, Gemstones and Charities.'
                        - 'Donate blood on a Tuesday in every three months, if health permits.'
                        - Feed birds with something sweet.
                        - Worship banyan tree with milk mixed with something sweet.
                        - Start a fast in a rising moon period on a Tuesday.
      operationId: get-mangal-dosha-advanced
      description: '**Credits Required:** 100 for English, 200 for other languages - Get detailed mangal dosha interpretation'
      parameters:
        - $ref: '#/components/parameters/ayanamsa'
        - $ref: '#/components/parameters/coordinates'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/22_language'
    parameters: []
  /astrology/kundli:
    get:
      x-badges:
        - name: 'Credits: 50'
          color: '#2563eb'
      X-Api-Credits: 50
      summary: Kundli
      tags:
        - Horoscope
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KundliResponse'
              examples:
                example-1:
                  value:
                    status: ok
                    data:
                      nakshatra_details:
                        nakshatra:
                          id: 25
                          name: Uttara Bhadrapada
                          lord:
                            id: 6
                            name: Saturn
                            vedic_name: Shani
                          pada: 3
                        chandra_rasi:
                          id: 11
                          name: Meena
                          lord:
                            id: 2
                            name: Mercury
                            vedic_name: Budha
                        soorya_rasi:
                          id: 6
                          name: Tula
                          lord:
                            id: 3
                            name: Venus
                            vedic_name: Shukra
                        zodiac:
                          id: 7
                          name: Scorpio
                        additional_info:
                          deity: Ahir Budhnyana/Abhibadhnu
                          ganam: Manushya
                          symbol: Twins (Two back legs of a bed)
                          animal_sign: Cow
                          nadi: Pitta
                          color: Purple
                          best_direction: North
                          syllables: 'Du, Tha, Jha, Da'
                          birth_stone: Blue Sapphire
                          gender: female
                          planet: Sani
                          enemy_yoni: Tiger
                      mangal_dosha:
                        has_dosha: false
                        description: The person is Not Manglik
                      yoga_details:
                        - name: Major Yogas
                          description: Your kundli have 2 major yogas.
                        - name: Chandra Yogas
                          description: Your kundli have 1 chandra yoga.
                        - name: Soorya Yogas
                          description: Your kundli have 3 soorya yogas.
                        - name: Inauspicious Yogas
                          description: Your kundli have 1 inauspicious yoga.
      operationId: get-kundli
      description: '**Credits Required:** 50 for English, 100 for other languages - Get full horoscope or kundli of a person.'
      parameters:
        - $ref: '#/components/parameters/ayanamsa'
        - $ref: '#/components/parameters/coordinates'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/22_language'
    parameters: []
  /astrology/kundli/advanced:
    get:
      x-badges:
        - name: 'Credits: 300'
          color: '#2563eb'
      X-Api-Credits: 300
      summary: Detailed Kundli
      tags:
        - Horoscope
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KundliAdvancedResponse'
              examples:
                example-1:
                  value:
                    status: ok
                    data:
                      nakshatra_details:
                        nakshatra:
                          id: 25
                          name: Uttara Bhadrapada
                          lord:
                            id: 6
                            name: Saturn
                            vedic_name: Shani
                          pada: 3
                        chandra_rasi:
                          id: 11
                          name: Meena
                          lord:
                            id: 2
                            name: Mercury
                            vedic_name: Budha
                        soorya_rasi:
                          id: 6
                          name: Tula
                          lord:
                            id: 3
                            name: Venus
                            vedic_name: Shukra
                        zodiac:
                          id: 7
                          name: Scorpio
                        additional_info:
                          deity: Ahir Budhnyana/Abhibadhnu
                          ganam: Manushya
                          symbol: Twins (Two back legs of a bed)
                          animal_sign: Cow
                          nadi: Pitta
                          color: Purple
                          best_direction: North
                          syllables: 'Du, Tha, Jha, Da'
                          birth_stone: Blue Sapphire
                          gender: female
                          planet: Sani
                          enemy_yoni: Tiger
                      mangal_dosha:
                        has_dosha: false
                        description: The person is Not Manglik
                        has_exception: false
                        type: null
                        exceptions: []
                        remedies: []
                      yoga_details:
                        - name: Major Yogas
                          description: Your kundli have 2 major yogas.
                          yoga_list:
                            - name: Gajakesari Yoga
                              has_yoga: false
                              description: Your kundli does not have gajakesari yoga.
                            - name: Kedar Yoga
                              has_yoga: false
                              description: Your kundli does not have kedar yoga.
                            - name: Kahal Yoga
                              has_yoga: false
                              description: Your kundli does not have kahala yoga.
                            - name: Kamal Yoga
                              has_yoga: false
                              description: Your kundli does not have kamal yoga.
                            - name: Musala Yoga
                              has_yoga: false
                              description: Your kundli does not have musala yoga.
                            - name: Raja Yoga
                              has_yoga: true
                              description: 'A typical Raja Yoga happens when two or more than two planets (out of which atleast one should be the lord of ''Kendra'' & the other should be the lord of ''Trikon'') is in a relationship with each other. This relationship can be a combination, bidirectional vision or exchange of zodiacs. A person with a Raja Yoga enjoys social status and fame.  Recognition and laurels will follow them for their efforts on various matters. In this chart there is relationship between Sun and Venus planets.'
                            - name: Ruchaka Yoga
                              has_yoga: false
                              description: Your kundli does not have ruchaka yoga.
                            - name: Bhadra Yoga
                              has_yoga: false
                              description: Your kundli does not have bhadra yoga.
                            - name: Hamsa Yoga
                              has_yoga: false
                              description: Your kundli does not have hamsa yoga.
                            - name: Malavya Yoga
                              has_yoga: true
                              description: 'The Malavya yoga, being one of the five of Panchmaha Purusha Yoga is a really auspicious yoga. Malvaya Yoga is formed when Venus is in its own sign (Taurus or Libra) or in exaltation (Pisces) and occupies a Kendra house from the Ascendant or from Moon. A strong Venus that occupies a powerful position in the chart will yield more positive benefits of this yoga.  Individuals born with Malavya yoga appreciate the value of all things in their life. So they never take things for granted and enjoy even the seemingly unimportant things in life. In this chart Venus is in its own sign.'
                            - name: Sasa Yoga
                              has_yoga: false
                              description: Your kundli does not have sasa yoga.
                        - name: Chandra Yogas
                          description: Your kundli have 1 chandra yoga.
                          yoga_list:
                            - name: Sunafa Yoga
                              has_yoga: true
                              description: 'If any planet other than the sun occupies the second house from moon sign then such a birth chart has the Sunafa yoga. This yoga is known to bring, good fortune and wealth. Generally such individuals are quite natured and they enjoy activities like music and poetry. In this chart Saturn is in the 2nd house from Moon.'
                            - name: Anafa Yoga
                              has_yoga: false
                              description: Your kundli does not have anafa yoga.
                            - name: Durudhara Yoga
                              has_yoga: false
                              description: Your kundli does not have durudhara yoga.
                            - name: Kemadruma Yoga
                              has_yoga: false
                              description: Your kundli does not have Kemadruma yoga.
                        - name: Soorya Yogas
                          description: Your kundli have 3 soorya yogas.
                          yoga_list:
                            - name: Veshi Yoga
                              has_yoga: true
                              description: 'Veshi yoga is formed when the planets Mercury, Venus, Mars, Jupiter or Saturn is in the second house from Sun. Person born in this yoga do not discriminate between people. In this chart Mercury is in the 2nd house from Sun.'
                            - name: Vaasi Yoga
                              has_yoga: true
                              description: 'Vashi yoga is found in a birth chart when any planet except Rahu, Ketu and Moon is placed in the twelfth house from the Sun. Wealth, luxury and joy are seen to follow those with this yoga. Those with Vaasi yoga have a likeable personality and are talented, intelligent, systematic and diligent in anything that they undertake. They are honest and true to their words at all times. In this chart planet Mars is in the 12th house from Sun.'
                            - name: Ubhayachari Yoga
                              has_yoga: true
                              description: 'Ubhayachari yoga is seen in a person''s birth chart when there are any planets except Rahu, Ketu and Moon in the second house and twelfth house from the Sun. The natives of this yoga enjoy good health and will be surrounded by friends wherever they go. In this chart planets Mercury & Mars are on either side of sun.'
                        - name: Inauspicious Yogas
                          description: Your kundli have 1 inauspicious yoga.
                          yoga_list:
                            - name: Daridra Yoga
                              has_yoga: false
                              description: Your kundli does not have daridra yoga.
                            - name: Grahan Yoga
                              has_yoga: false
                              description: Your kundli does not have grahan yoga.
                            - name: Shakat Yoga
                              has_yoga: true
                              description: 'Shakat Yoga is an inauspicious yoga where Jupiter is in the 6th, 8th or 12th house from the Moon. This results in an unsatisfied and unhappy life. The native of this yoga will be quite  arrogant and without true friends. This could make a person of Shakat yoga feel melancholy and lonely most of the time. The remedies for minimising the effect of Shakat Yoga are: Fasting on Mondays and Thursdays is advised. Worshipping Goddess Gowri on Mondays followed by Lord Shiva on Thursdays is also helpful. Another remedy is to volunteer to offer physical service in a temple or in a charitable institution on Sundays or as and when possible. In this chart Jupiter is in 8 house from Moon.'
                            - name: Chandal Yoga
                              has_yoga: false
                              description: Your kundli does not have chandal yoga.
                            - name: Kuja Yoga
                              has_yoga: false
                              description: Your kundli does not have kuja yoga.
                            - name: Kemdrum Yoga
                              has_yoga: false
                              description: Your kundli does not have kemdrum yoga.
                      dasha_balance:
                        lord:
                          id: 4
                          name: Mars
                          vedic_name: Kuja
                        duration: P3Y6M4DT12H30M5S
                        description: 3 years 6 months 4 days
                      dasha_periods:
                        - id: 6
                          name: Saturn
                          start: '1958-08-05T00:41:25+05:30'
                          end: '1977-08-04T18:41:25+05:30'
                          antardasha:
                            - id: 6
                              name: Saturn
                              start: '1958-08-05T00:41:25+05:30'
                              end: '1961-08-07T19:44:25+05:30'
                              pratyantardasha:
                                - id: 6
                                  name: Saturn
                                  start: '1958-08-05T00:41:25+05:30'
                                  end: '1959-01-26T00:06:23+05:30'
                                - id: 2
                                  name: Mercury
                                  start: '1959-01-26T00:06:23+05:30'
                                  end: '1959-06-30T16:00:18+05:30'
                                - id: 102
                                  name: Ketu
                                  start: '1959-06-30T16:00:18+05:30'
                                  end: '1959-09-02T18:18:58+05:30'
                                - id: 3
                                  name: Venus
                                  start: '1959-09-02T18:18:58+05:30'
                                  end: '1960-03-03T21:29:28+05:30'
                                - id: 0
                                  name: Sun
                                  start: '1960-03-03T21:29:28+05:30'
                                  end: '1960-04-27T20:02:37+05:30'
                                - id: 1
                                  name: Moon
                                  start: '1960-04-27T20:02:37+05:30'
                                  end: '1960-07-28T09:37:52+05:30'
                                - id: 4
                                  name: Mars
                                  start: '1960-07-28T09:37:52+05:30'
                                  end: '1960-09-30T11:56:32+05:30'
                                - id: 101
                                  name: Rahu
                                  start: '1960-09-30T11:56:32+05:30'
                                  end: '1961-03-14T07:35:59+05:30'
                                - id: 5
                                  name: Jupiter
                                  start: '1961-03-14T07:35:59+05:30'
                                  end: '1961-08-07T19:44:23+05:30'
                            - id: 2
                              name: Mercury
                              start: '1961-08-07T19:44:25+05:30'
                              end: '1964-04-16T22:53:25+05:30'
                              pratyantardasha:
                                - id: 2
                                  name: Mercury
                                  start: '1961-08-07T19:44:25+05:30'
                                  end: '1961-12-25T02:23:11+05:30'
                                - id: 102
                                  name: Ketu
                                  start: '1961-12-25T02:23:11+05:30'
                                  end: '1962-02-20T10:46:12+05:30'
                                - id: 3
                                  name: Venus
                                  start: '1962-02-20T10:46:12+05:30'
                                  end: '1962-08-03T07:17:42+05:30'
                                - id: 0
                                  name: Sun
                                  start: '1962-08-03T07:17:42+05:30'
                                  end: '1962-09-21T11:03:09+05:30'
                                - id: 1
                                  name: Moon
                                  start: '1962-09-21T11:03:09+05:30'
                                  end: '1962-12-12T09:18:54+05:30'
                                - id: 4
                                  name: Mars
                                  start: '1962-12-12T09:18:54+05:30'
                                  end: '1963-02-07T17:41:55+05:30'
                                - id: 101
                                  name: Rahu
                                  start: '1963-02-07T17:41:55+05:30'
                                  end: '1963-07-05T04:58:16+05:30'
                                - id: 5
                                  name: Jupiter
                                  start: '1963-07-05T04:58:16+05:30'
                                  end: '1963-11-13T06:59:28+05:30'
                                - id: 6
                                  name: Saturn
                                  start: '1963-11-13T06:59:28+05:30'
                                  end: '1964-04-16T22:53:23+05:30'
                            - id: 102
                              name: Ketu
                              start: '1964-04-16T22:53:25+05:30'
                              end: '1965-05-26T18:32:25+05:30'
                              pratyantardasha:
                                - id: 102
                                  name: Ketu
                                  start: '1964-04-16T22:53:25+05:30'
                                  end: '1964-05-10T13:38:11+05:30'
                                - id: 3
                                  name: Venus
                                  start: '1964-05-10T13:38:11+05:30'
                                  end: '1964-07-17T00:54:41+05:30'
                                - id: 0
                                  name: Sun
                                  start: '1964-07-17T00:54:41+05:30'
                                  end: '1964-08-06T06:41:38+05:30'
                                - id: 1
                                  name: Moon
                                  start: '1964-08-06T06:41:38+05:30'
                                  end: '1964-09-09T00:19:53+05:30'
                                - id: 4
                                  name: Mars
                                  start: '1964-09-09T00:19:53+05:30'
                                  end: '1964-10-02T15:04:39+05:30'
                                - id: 101
                                  name: Rahu
                                  start: '1964-10-02T15:04:39+05:30'
                                  end: '1964-12-02T08:25:30+05:30'
                                - id: 5
                                  name: Jupiter
                                  start: '1964-12-02T08:25:30+05:30'
                                  end: '1965-01-25T07:50:42+05:30'
                                - id: 6
                                  name: Saturn
                                  start: '1965-01-25T07:50:42+05:30'
                                  end: '1965-03-30T10:09:22+05:30'
                                - id: 2
                                  name: Mercury
                                  start: '1965-03-30T10:09:22+05:30'
                                  end: '1965-05-26T18:32:23+05:30'
                            - id: 3
                              name: Venus
                              start: '1965-05-26T18:32:25+05:30'
                              end: '1968-07-26T09:32:25+05:30'
                              pratyantardasha:
                                - id: 3
                                  name: Venus
                                  start: '1965-05-26T18:32:25+05:30'
                                  end: '1965-12-05T13:02:25+05:30'
                                - id: 0
                                  name: Sun
                                  start: '1965-12-05T13:02:25+05:30'
                                  end: '1966-02-01T08:59:25+05:30'
                                - id: 1
                                  name: Moon
                                  start: '1966-02-01T08:59:25+05:30'
                                  end: '1966-05-08T18:14:25+05:30'
                                - id: 4
                                  name: Mars
                                  start: '1966-05-08T18:14:25+05:30'
                                  end: '1966-07-15T05:30:55+05:30'
                                - id: 101
                                  name: Rahu
                                  start: '1966-07-15T05:30:55+05:30'
                                  end: '1967-01-04T17:21:55+05:30'
                                - id: 5
                                  name: Jupiter
                                  start: '1967-01-04T17:21:55+05:30'
                                  end: '1967-06-07T22:33:55+05:30'
                                - id: 6
                                  name: Saturn
                                  start: '1967-06-07T22:33:55+05:30'
                                  end: '1967-12-08T01:44:25+05:30'
                                - id: 2
                                  name: Mercury
                                  start: '1967-12-08T01:44:25+05:30'
                                  end: '1968-05-19T22:15:55+05:30'
                                - id: 102
                                  name: Ketu
                                  start: '1968-05-19T22:15:55+05:30'
                                  end: '1968-07-26T09:32:25+05:30'
                            - id: 0
                              name: Sun
                              start: '1968-07-26T09:32:25+05:30'
                              end: '1969-07-08T09:14:25+05:30'
                              pratyantardasha:
                                - id: 0
                                  name: Sun
                                  start: '1968-07-26T09:32:25+05:30'
                                  end: '1968-08-12T17:55:31+05:30'
                                - id: 1
                                  name: Moon
                                  start: '1968-08-12T17:55:31+05:30'
                                  end: '1968-09-10T15:54:01+05:30'
                                - id: 4
                                  name: Mars
                                  start: '1968-09-10T15:54:01+05:30'
                                  end: '1968-09-30T21:40:58+05:30'
                                - id: 101
                                  name: Rahu
                                  start: '1968-09-30T21:40:58+05:30'
                                  end: '1968-11-21T22:50:16+05:30'
                                - id: 5
                                  name: Jupiter
                                  start: '1968-11-21T22:50:16+05:30'
                                  end: '1969-01-07T05:11:52+05:30'
                                - id: 6
                                  name: Saturn
                                  start: '1969-01-07T05:11:52+05:30'
                                  end: '1969-03-03T03:45:01+05:30'
                                - id: 2
                                  name: Mercury
                                  start: '1969-03-03T03:45:01+05:30'
                                  end: '1969-04-21T07:30:28+05:30'
                                - id: 102
                                  name: Ketu
                                  start: '1969-04-21T07:30:28+05:30'
                                  end: '1969-05-11T13:17:25+05:30'
                                - id: 3
                                  name: Venus
                                  start: '1969-05-11T13:17:25+05:30'
                                  end: '1969-07-08T09:14:25+05:30'
                            - id: 1
                              name: Moon
                              start: '1969-07-08T09:14:25+05:30'
                              end: '1971-02-06T16:44:25+05:30'
                              pratyantardasha:
                                - id: 1
                                  name: Moon
                                  start: '1969-07-08T09:14:25+05:30'
                                  end: '1969-08-25T13:51:55+05:30'
                                - id: 4
                                  name: Mars
                                  start: '1969-08-25T13:51:55+05:30'
                                  end: '1969-09-28T07:30:10+05:30'
                                - id: 101
                                  name: Rahu
                                  start: '1969-09-28T07:30:10+05:30'
                                  end: '1969-12-24T01:25:40+05:30'
                                - id: 5
                                  name: Jupiter
                                  start: '1969-12-24T01:25:40+05:30'
                                  end: '1970-03-11T04:01:40+05:30'
                                - id: 6
                                  name: Saturn
                                  start: '1970-03-11T04:01:40+05:30'
                                  end: '1970-06-10T17:36:55+05:30'
                                - id: 2
                                  name: Mercury
                                  start: '1970-06-10T17:36:55+05:30'
                                  end: '1970-08-31T15:52:40+05:30'
                                - id: 102
                                  name: Ketu
                                  start: '1970-08-31T15:52:40+05:30'
                                  end: '1970-10-04T09:30:55+05:30'
                                - id: 3
                                  name: Venus
                                  start: '1970-10-04T09:30:55+05:30'
                                  end: '1971-01-08T18:45:55+05:30'
                                - id: 0
                                  name: Sun
                                  start: '1971-01-08T18:45:55+05:30'
                                  end: '1971-02-06T16:44:25+05:30'
                            - id: 4
                              name: Mars
                              start: '1971-02-06T16:44:25+05:30'
                              end: '1972-03-17T12:23:25+05:30'
                              pratyantardasha:
                                - id: 4
                                  name: Mars
                                  start: '1971-02-06T16:44:25+05:30'
                                  end: '1971-03-02T07:29:11+05:30'
                                - id: 101
                                  name: Rahu
                                  start: '1971-03-02T07:29:11+05:30'
                                  end: '1971-05-02T00:50:02+05:30'
                                - id: 5
                                  name: Jupiter
                                  start: '1971-05-02T00:50:02+05:30'
                                  end: '1971-06-25T00:15:14+05:30'
                                - id: 6
                                  name: Saturn
                                  start: '1971-06-25T00:15:14+05:30'
                                  end: '1971-08-28T02:33:54+05:30'
                                - id: 2
                                  name: Mercury
                                  start: '1971-08-28T02:33:54+05:30'
                                  end: '1971-10-24T10:56:55+05:30'
                                - id: 102
                                  name: Ketu
                                  start: '1971-10-24T10:56:55+05:30'
                                  end: '1971-11-17T01:41:41+05:30'
                                - id: 3
                                  name: Venus
                                  start: '1971-11-17T01:41:41+05:30'
                                  end: '1972-01-23T12:58:11+05:30'
                                - id: 0
                                  name: Sun
                                  start: '1972-01-23T12:58:11+05:30'
                                  end: '1972-02-12T18:45:08+05:30'
                                - id: 1
                                  name: Moon
                                  start: '1972-02-12T18:45:08+05:30'
                                  end: '1972-03-17T12:23:23+05:30'
                            - id: 101
                              name: Rahu
                              start: '1972-03-17T12:23:25+05:30'
                              end: '1975-01-22T11:29:25+05:30'
                              pratyantardasha:
                                - id: 101
                                  name: Rahu
                                  start: '1972-03-17T12:23:25+05:30'
                                  end: '1972-08-20T15:51:19+05:30'
                                - id: 5
                                  name: Jupiter
                                  start: '1972-08-20T15:51:19+05:30'
                                  end: '1973-01-06T10:56:07+05:30'
                                - id: 6
                                  name: Saturn
                                  start: '1973-01-06T10:56:07+05:30'
                                  end: '1973-06-20T06:35:34+05:30'
                                - id: 2
                                  name: Mercury
                                  start: '1973-06-20T06:35:34+05:30'
                                  end: '1973-11-14T17:51:55+05:30'
                                - id: 102
                                  name: Ketu
                                  start: '1973-11-14T17:51:55+05:30'
                                  end: '1974-01-14T11:12:46+05:30'
                                - id: 3
                                  name: Venus
                                  start: '1974-01-14T11:12:46+05:30'
                                  end: '1974-07-06T23:03:46+05:30'
                                - id: 0
                                  name: Sun
                                  start: '1974-07-06T23:03:46+05:30'
                                  end: '1974-08-28T00:13:04+05:30'
                                - id: 1
                                  name: Moon
                                  start: '1974-08-28T00:13:04+05:30'
                                  end: '1974-11-22T18:08:34+05:30'
                                - id: 4
                                  name: Mars
                                  start: '1974-11-22T18:08:34+05:30'
                                  end: '1975-01-22T11:29:25+05:30'
                            - id: 5
                              name: Jupiter
                              start: '1975-01-22T11:29:25+05:30'
                              end: '1977-08-04T18:41:25+05:30'
                              pratyantardasha:
                                - id: 5
                                  name: Jupiter
                                  start: '1975-01-22T11:29:25+05:30'
                                  end: '1975-05-25T20:27:01+05:30'
                                - id: 6
                                  name: Saturn
                                  start: '1975-05-25T20:27:01+05:30'
                                  end: '1975-10-19T08:35:25+05:30'
                                - id: 2
                                  name: Mercury
                                  start: '1975-10-19T08:35:25+05:30'
                                  end: '1976-02-27T10:36:37+05:30'
                                - id: 102
                                  name: Ketu
                                  start: '1976-02-27T10:36:37+05:30'
                                  end: '1976-04-21T10:01:49+05:30'
                                - id: 3
                                  name: Venus
                                  start: '1976-04-21T10:01:49+05:30'
                                  end: '1976-09-22T15:13:49+05:30'
                                - id: 0
                                  name: Sun
                                  start: '1976-09-22T15:13:49+05:30'
                                  end: '1976-11-07T21:35:25+05:30'
                                - id: 1
                                  name: Moon
                                  start: '1976-11-07T21:35:25+05:30'
                                  end: '1977-01-24T00:11:25+05:30'
                                - id: 4
                                  name: Mars
                                  start: '1977-01-24T00:11:25+05:30'
                                  end: '1977-03-18T23:36:37+05:30'
                                - id: 101
                                  name: Rahu
                                  start: '1977-03-18T23:36:37+05:30'
                                  end: '1977-08-04T18:41:25+05:30'
                        - id: 2
                          name: Mercury
                          start: '1977-08-04T18:41:25+05:30'
                          end: '1994-08-05T00:41:25+05:30'
                          antardasha:
                            - id: 2
                              name: Mercury
                              start: '1977-08-04T18:41:25+05:30'
                              end: '1980-01-01T10:08:25+05:30'
                              pratyantardasha:
                                - id: 2
                                  name: Mercury
                                  start: '1977-08-04T18:41:25+05:30'
                                  end: '1977-12-07T09:28:44+05:30'
                                - id: 102
                                  name: Ketu
                                  start: '1977-12-07T09:28:44+05:30'
                                  end: '1978-01-27T16:58:48+05:30'
                                - id: 3
                                  name: Venus
                                  start: '1978-01-27T16:58:48+05:30'
                                  end: '1978-06-23T07:33:18+05:30'
                                - id: 0
                                  name: Sun
                                  start: '1978-06-23T07:33:18+05:30'
                                  end: '1978-08-06T07:07:39+05:30'
                                - id: 1
                                  name: Moon
                                  start: '1978-08-06T07:07:39+05:30'
                                  end: '1978-10-18T14:24:54+05:30'
                                - id: 4
                                  name: Mars
                                  start: '1978-10-18T14:24:54+05:30'
                                  end: '1978-12-08T21:54:58+05:30'
                                - id: 101
                                  name: Rahu
                                  start: '1978-12-08T21:54:58+05:30'
                                  end: '1979-04-19T20:38:01+05:30'
                                - id: 5
                                  name: Jupiter
                                  start: '1979-04-19T20:38:01+05:30'
                                  end: '1979-08-15T03:29:37+05:30'
                                - id: 6
                                  name: Saturn
                                  start: '1979-08-15T03:29:37+05:30'
                                  end: '1980-01-01T10:08:23+05:30'
                            - id: 102
                              name: Ketu
                              start: '1980-01-01T10:08:25+05:30'
                              end: '1980-12-28T15:05:25+05:30'
                              pratyantardasha:
                                - id: 102
                                  name: Ketu
                                  start: '1980-01-01T10:08:25+05:30'
                                  end: '1980-01-22T13:13:44+05:30'
                                - id: 3
                                  name: Venus
                                  start: '1980-01-22T13:13:44+05:30'
                                  end: '1980-03-22T22:03:14+05:30'
                                - id: 0
                                  name: Sun
                                  start: '1980-03-22T22:03:14+05:30'
                                  end: '1980-04-10T00:42:05+05:30'
                                - id: 1
                                  name: Moon
                                  start: '1980-04-10T00:42:05+05:30'
                                  end: '1980-05-10T05:06:50+05:30'
                                - id: 4
                                  name: Mars
                                  start: '1980-05-10T05:06:50+05:30'
                                  end: '1980-05-31T08:12:09+05:30'
                                - id: 101
                                  name: Rahu
                                  start: '1980-05-31T08:12:09+05:30'
                                  end: '1980-07-24T16:08:42+05:30'
                                - id: 5
                                  name: Jupiter
                                  start: '1980-07-24T16:08:42+05:30'
                                  end: '1980-09-10T23:12:18+05:30'
                                - id: 6
                                  name: Saturn
                                  start: '1980-09-10T23:12:18+05:30'
                                  end: '1980-11-07T07:35:19+05:30'
                                - id: 2
                                  name: Mercury
                                  start: '1980-11-07T07:35:19+05:30'
                                  end: '1980-12-28T15:05:23+05:30'
[...]
